mixin box-content(title, contents, width, text, text_blue)
    .business.slide--up.padding-x-55(class=width)
        h3= title
        p !{contents}
    .box-content.padding-x-55
        p !{text}
    .content-blue.padding-x-55
        p !{text_blue}
    
    